.cards-container {
  width: 85vw; /* mesma largura do hero */
  margin: 0 auto; /* CENTRALIZA */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
  padding: 50px 0;
  flex-wrap: wrap;
}

.card-item {
  display: flex;
  width: 260px;
  background: white;
  border-radius: 16px;
  padding: 39px 50px;
  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  border-top: 4px solid #ff66b3;
  transition: transform 0.2s ease;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 80px 0;
}

.card-item:hover {
  transform: translateY(-5px);
}

.card-icon {
  width: 4vw;
  height: 7vh;
  background: #ffd6e8;
  border-radius: 50%;
  margin: 0 auto 20px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #ff66b3;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 15px;
  color: #555;
  line-height: 1.4;
}

.card-tt {
  display: flex;
  flex-direction: column;
}