/* --- Container Geral --- */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-left: 110px;
  font-family: "Poppins", sans-serif;
}

/* --- Conteúdo em Linha (Avatar + Informações) --- */
.profile-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* --- Avatar com Borda Degradê --- */
.avatar {
  width: 20vw;
  height: 20vh;
  margin-left: -40px;
  border-radius: 40px;
  padding: 4px;
  background: linear-gradient(135deg, #ff69b4, #b30059);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 20vw;
  height: 20vh;
  margin-left: -80px;
  object-fit: cover;
  background: #ececec;
  border-radius: 50%;
}

/* --- Informações --- */
.info h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #ff69b4;
}

.bar {
  width: 2px;
  height: 50px;
  background: #ff69b4;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

/* --- Descrição --- */
.descricao {
  font-size: 0.95rem;
  margin: 10px 0 15px 0;
  max-width: 600px;
  line-height: 1.5;
  text-align: justify;
}


.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.tags span {
  background: #ffe0f0;
  border: 1px solid #ff69b4;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: #b30059;
  font-weight: 500;
}


.bottom-buttons {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.bottom-buttons button {
  padding: 12px 25px;
  border-radius: 8px;
  border: 1px solid #ff69b4;
  background: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.bottom-buttons button:hover {
  background: #ff69b4;
  color: white;
}
