/* --- Container Geral --- */
.profile-container {
  max-width: 1000vw;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

/* --- Conteúdo em Linha (Avatar + Informações) --- */
.profile-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

/* --- Avatar com Borda Degradê --- */
.avatar {
  width: 1000vw;
  height: 1000vh;
  border-radius: 50px;
  padding: 4px;
  background: linear-gradient(135deg, #ff69b4, #b30059);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
  background: #ececec;
  border-radius: 50%;
  margin-left: -150px; /* empurra para a esquerda */
}


/* --- Informações --- */
.info h3 {
  margin: 0;
  font-size: 1.4rem;
  
}

.bar {
  width: 3px;
  height: 45px;
  background: #ff69b4;
  margin-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: column;
}

/* --- Descrição --- */
.descricao {
  font-size: 0.95rem;
  margin: 10px 0 15px 0;
  max-width: 600px;
  line-height: 1.5;
  text-align: justify;
  align-items: center;
}

/* --- Tags (rosa com borda redonda) --- */
.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tags span {
  background: #ffe0f0;
  border: 1px solid #ff69b4;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: #b30059;
  font-weight: 500;
}

/* --- Botões inferiores --- */
.bottom-buttons {
  margin-top: 25px;
  display: flex;
  gap: 20px;

    margin-left: 480px; /* empurra para a esquerda */

}

.bottom-buttons button {
  padding: 12px 25px;
  border-radius: 8px;
  border: 1px solid #ff69b4;
  background: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.bottom-buttons button:hover {
  background: #ff69b4;
  color: white;
}
