.footer {
  background: #000;
  color: #fff;
  border-top: 3px solid #e354a6;
  padding: 30px 40px;
  width: 92.6vw;
  height: 41vh;
  font-family: "Inter", sans-serif;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
  align-items: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  align-items: center;
}

.footer-section h4 {
  color: #e354a6;
  font-size: 13px;
  margin-right: 20px;
}

.footer-section p,
.footer-section li a {
  color: #d0d0d0;
  font-size: 12px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;  
}

.footer-section li {
  margin-bottom: 6px;
}

.footer-section a {
  text-decoration: none;
  color: #d0d0d0;
  transition: 0.2s;
}

.footer-section a:hover {
  color: #fff;
}

.social {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.social-btn {
  padding: 6px 10px;
  border-radius: 20px;
  background: #222;
  color: #d0d0d0;
  font-size: 12px;
}

.footer-copy {
  text-align: center;
  margin-top: 20px;
  color: #999;
  font-size: 13px;
}
